{% extends "::base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
    <div class="panel panel-info jumbotron hero-marvel">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="text-center h3"><strong>Login</strong></div>
                <div class="panel-body">
                    <form action="{{ path('index') }}" method="POST">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Username</span>
                            </div>
                            <input type="text" name="_username" id="username" class="form-control text-center" value="{{ username }}" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Password</span>
                            </div>
                            <input type="password" name="_password" id="password" class="form-control text-center" value="{% if password is defined %} {{ password }} {% endif %}" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <button class="btn btn-info pull-right" style="float: right;">Login</button>
                        </div>

                        {% if errors %}
                            <div class="alert alert-danger">
                                {{ errors.messageKey }}
                            </div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}